/** @format */

.sub_course_list {
	position: absolute;
	width: 80%;
	background-color: #ffffff;
	left: 20%;
	top: 0px;
	color: white;
	display: none;
	padding-left: 20px;
	overflow: auto;
	bottom: 0;
	height: 100%;
}
.sub_course_list li {
	display: inline-grid;
	width: 22%;
	border: 1px solid #e6dfdf;
	padding: 10px;
	margin: 10px;
	text-align: center;
}
.sub_course_list li p {
	color: #000000;
	font-weight: 600;
	font-size: 12px;
	line-height: 20px;
	margin-bottom: 8px;
}
.primary_li {
	position: initial;
}
.has_submenu.active {
	display: block !important;
}
.has_submenu.active .sub_course_list {
	display: block !important;
}
.s0 {
	display: block !important;
}
li.primary_li.active a {
	color: #005992;
}
li.primary_li.active {
	background-color: #ffffff;
	border: 1px solid #e6dfdf;
}
