/** @format */

.content_col {
	margin: 0 0 35px;
}
.content_col h4 {
	color: #2f2f2f;
	font-weight: 800;
}

.title_s {
	font-size: 18px;
}
.content_col p {
	color: #2f2f2f;
	font-size: 16px;
	margin-bottom: 0;
}
.content_col ul li:before {
	content: "\f00c";
	position: absolute;
	display: inline-block;
	font: normal normal normal 14px / 1 FontAwesome;
	font-size: 12px;
	font-weight: 400;
	left: -15px;
	top: 5px;
}
